<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="AdminUser" value="admin" />
      <add key="AdminPass" value="Oct*itps20" />
      <add key="CuitComercio" value="20404734777" />
      <add key="Host" value="http://octdevis01.brazilsouth.cloudapp.azure.com:8080/" />
      <add key="TerminalID" value="72172889" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      <!--<add key="ATMUser" value="atm72172889" /> -->
      <!--<add key="ATMPass" value="Oct*itps20" />-->
      <!--<add key="Registered" value="1" />-->
    </appSettings>
</configuration>